*{
    margin: 0.1%;
    padding: 0%;
}

.header,.navbar,.footer{
background-color: aqua;
width: 100%;
height: 50px;
text-align: center;
}

.footer{
    overflow: auto;

}

.main{
    background-color: green;
    width: 40%;
    height: 170px;
    text-align: center;
    float: left;

}
.article{
    background-color: green;
    width: 40%;
    height: 170px;
    text-align: center;
    overflow: auto;
    float: left;

}
.side{
    background-color: green;
    width: 19.4%;
    height: 200px;
    text-align: center;
    float: right;
}